/* Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
    --primary: #00AFFF;
    --secondary: #374151;
    --paragraph: #9CA3AF;
    --main: #FFFFFF;
    --bg: #111827;
    --font-family-base: Inter, sans-serif;
}


/* -------------------------------------------------------------------------------------------------------------  */


/* Global Style */
* {
    cursor: none;
}

body {
    background: var(--bg);
    color: var(--main);
    font-family: var(--font-family-base);
}

main {
    transition: all;
    /* border: 2px solid red; */
    overflow-x: hidden;
}

section {
    transition: all;
    /* border: 2px solid blue; */
}

div {
    transition: all;
    /* border: 2px solid lightskyblue */
}

body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 12px;
}

body::-webkit-scrollbar-button {
    display: none;
}


/* -------------------------------------------------------------------------------------------------------------  */


/* Base Style */
.duration500 {
    @apply transition-all duration-500 hover:duration-500
}

.heroELememt {
    animation: scaleDownIn 1.5s cubic-bezier(0.87, 0, 0.13, 1);
}

.heroELememt .sqD {
    animation: float 2s infinite ease-in-out;
}

@keyframes scaleDownIn {
    from {
        opacity: 0;
        transform: scale(2) translateY(0px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0px);
    }
}

.cursor-dot {
    position: fixed;
    transform: translate(-50%, -50%);
    transition: transform 1s ease-out, opacity 1s ease-out;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

.animateX {
    animation: animateX 700ms ease-in-out infinite 
}

@keyframes animateX {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0px);
    }
}